/* Custom Styles */
.navbar-gradient {
	background: linear-gradient(to right, #4b6cb7, #182848);
}

.navbar-brand {
	font-size: 1.75rem;
	font-weight: bold;
}

.news-card {
	transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.news-card:hover {
	transform: scale(1.05);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Hamburger Menu */
.hamburger {
	cursor: pointer;
	display: block;
}

.hamburger span {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	transition: all 0.3s ease-in-out;
	background-color: #fff;
}

.hamburger.open span:nth-child(1) {
	transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
	opacity: 0;
}

.hamburger.open span:nth-child(3) {
	transform: rotate(-45deg) translate(5px, -5px);
}

.nav-item:hover {
	color: #1a202c;
	transition: color 0.3s ease-in-out;
}

/* Ensure that all cards have the same height */
.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

/* Ensure that the container displays the cards in a grid format */
#news-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

/* Adjust the card width to ensure they align well */
.news-card {
	flex: 0 1 calc(33.333% - 20px); /* 3 cards per row with a gap of 20px */
	box-sizing: border-box;
}
