<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>News Alchemy</title>
		<link
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			rel="stylesheet"
		/>
		<link
			href="{{ url_for('static', filename='styles.css') }}"
			rel="stylesheet"
		/>
	</head>
	<body class="bg-light">
		<nav class="navbar navbar-expand-lg navbar-gradient navbar-dark">
			<a class="navbar-brand" href="{{ url_for('home') }}">News Alchemy</a>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarNav"
				aria-controls="navbarNav"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('home') }}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('sports') }}">Sports</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('entertainment') }}"
							>Entertainment</a
						>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('technology') }}"
							>Technology</a
						>
					</li>
					{% if current_user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
					</li>
					{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('login') }}">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('register') }}">Register</a>
					</li>
					{% endif %}
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input
						class="form-control mr-sm-2"
						type="search"
						id="search-text"
						placeholder="Search"
						aria-label="Search"
					/>
					<button
						class="btn btn-outline-light my-2 my-sm-0"
						type="button"
						id="search-button"
					>
						Search
					</button>
				</form>
			</div>
		</nav>
		<div class="container mt-5">
			<div class="row" id="news-container">
				{% block content %}{% endblock %}
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<script src="{{ url_for('static', filename='index.js') }}"></script>
	</body>
</html>
